#sect3:hover{background-color: greenyellow;
color: red;
font-size: x-large;}

.class4:hover{background-color: black;
color: cadetblue;
font-size: x-large;
border:solid red;
border-radius: 15px ;
transform: scale(1.1);
text-align:center;;}


#Logo{background-color: red;
height: 100px;
color: ghostwhite;}

#Titulo{background-color: gray;
text-align: center;
}

#Menu-Lateral{background-color: rgb(147, 81, 194);
height: 1000px;
border: rgb(0, 0, 0) solid;
}

#Discripcion{background-color: chocolate; 
height: 800px;}

#Apartado{background-color: darkcyan;
height:800px;}

#Anuncio{background-color:darkseagreen;
height: 100px;
color: black;}

div.container {background-color: lightblue;
}


