


#sect1{background-color:darkcyan;
    margin: 10px 100px 150px 100px;
    padding: 10px 100px 10px 150px;;
    font-size: 100px;;
    color: red;
    border: dashed red;
    border-radius: 10px;
    }

#sect2{font-size: xx-large;}

/*
